.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbarToggle {
    visibility: hidden;
}

.navbarBrand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    flex: 1;
}

.navbarLogo {
    background-color: var(--primary-color);
    height: 2rem;
    aspect-ratio: 1;
}

.navbarTitle {
    color: var(--primary-color);
    font-weight: 700;
    line-height: 1;
}

.navbarLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 2;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.navLink {
    display: block;
    width: 12vw;
    text-align: center;
    text-decoration: none !important;
    font-weight: 500;
    cursor: pointer;
    color: var(--text-color);
}
.navMenuContainer {
    display: block;
}
.navLink:visited,
.navLink:active {
    color: var(--text-color);
}

.menuLine {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
    padding: 10px 0;
  }

  .navbarToggle {
    visibility: visible;
    flex-direction: column;
    cursor: pointer;
    display: flex;
    gap: 5px;
    background-color: transparent;
    border: 0;
  }

  .navMenuContainer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    width: 100%;
    flex-basis: 100%;
    padding: 0;
  }

  .navMenuContainer.openMenu {
    max-height: 800px; /* large enough to fit all items */
  }

  .navbarLinks {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }

  .navLink {
    width: 100%;
    margin: 0.5rem 0;
    font-size: 2rem;
  }
}
